/.cache
/.local/share
/.mixin.out/class/net/minecraft/world
/.pg-native
/config/blockswap/known_states
/crash-reports
/libraries
/logs
/modernfix/structureCacheV1
/mods
/world/DIM-1
/world/DIM1/data
/world/SDMEconomy/currencies
/world/SDMShop/limiter
/world/advancements
/world/betterdeserttemples
/world/data
/world/deaths
/world/dimensions
/world/entities
/world/fieldguide_progress
/world/ftbteams
/world/generated/minecraft/structures
/schematics/uploaded
/world/playerdata
/world/minecolonies
/world/poi
/world/region
/world/stats
/world/kubejs_persistent_data.nbt
/world/level.dat
/world/level.dat_old
/world/session.lock
/world/mfix_stronghold_cache_v2.nbt
/world/curtain.json
/.curseforge-files-manifest.json
/.forge-manifest.json
/.modrinth-manifest.json
/.rcon-cli.env
/.rcon-cli.yaml
/.run-forge.env
/eula.txt
/log4j2.xml
/rhino.local.properties
/run.bat
/run.sh
/server.properties
/server-icon.png
/user_jvm_args.txt
/usercache.json
/usernamecache.json
/config/spark/activity.json
/config/spark/tmp
/config/CSC/Log
/config/CSC/problem/nvmcd
/config/CSC/CSC_Warn.log
/config/CSC/backup
/config/CSC/Data
/config/SDMEconomy/currencies
/config/SDMShop/shops
/config/axiom
/config/chunky/overworld.csv
/config/chunky/tasks/minecraft
/config/forgeendertech/cached.dat
/config/warntax/colonyTaxData.json
/config/warntax/factions.json
/config/warntax/lastTaxGeneration.json
/config/warntax/officerVisitData.json
/config/warntax/vassals.json
/config/warntax/war_exhaustion.json
/config/warntax/warchests.json
/cf-api-key
/ops.json
/whitelist.json
